.navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
  justify-content: center;
}

img {
  width: 50%;
  height: 50%;
}

.table-user {
  background-color: beige;
  border: 1px solid silver;
  border-collapse: collapse;
  width: 500px;
}

.table-user th,
.table-user td {
  border: 1px solid red;
  padding: 8px;
  text-align: center;
}
